.RoadTrack {
    z-index: 0;
    position: absolute;
    pointer-events:none;
    user-select: none;
    height: 0.5vh;
    border: solid 2px purple;
    border-radius: 2px;
    transform-origin: left;
}
